// bower:scss
@import "bower_components/normalize-scss/_normalize.scss";
// endbower

* {
  box-sizing: border-box;
}

$font: 'Arial', sans-serif;

body {
  width: 100%;
  height: 100%;
  position: relative;
  background: #fff;
  font-family: $font;
  font-size: 16px;
  color: #000;
  margin: 0;
  padding: 0;
}
.u-global-wrap {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding-top: 90px;
}
.SiteHeader {
  width: 100%;
  height: 60px;
  box-shadow: 0 6px 9px #ccc;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 2rem;
  line-height: 3.5rem;
  font-family: $font;
}
.row-only {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.r-sp-b {
  justify-content: space-between;
}
.r-sp-arr {
  justify-content: space-around;
}

.ButtonsContainer {
  max-width: 900px;
  padding: 20px;
  margin: 40px auto;
  box-shadow: 0 1px 10px rgba(#000000, 0.6);

  .Button {
    margin: 10px;
  }
}
.Button {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid rgb(201, 152, 1);
  background: rgb(235, 178, 7);
  color: #3d3d3d;
  font-size: 1.2rem;
  padding: 0;
  text-align: center;
  transition: all .1s ease;

  &:focus {
    outline: none;
  }
  &:hover {
    background: rgba(255, 210, 71, 0.9);
    box-shadow: inset 0 0 2px rgba(#000000, 0.27);
  }
  &:active {
    background: rgb(181, 142, 22);
    color: #ffffff;
  }
}

.FormContainer {
  max-width: 450px;
  padding: 20px;
  margin: 40px auto;
  box-shadow: 0 1px 10px rgba(#000000, 0.6);
}

.Form {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;

  h3 {
    width: 100%;
    text-align: center;
  }

  input {
    width: 100%;
    background: #fff;
    outline: none;
    border: 1px solid #ccc;
    height: 40px;
    margin: 0;
    padding: 10px;

    &:focus + label {
      top: -20px;
      left: 0;
    }
  }
  label {
    position: absolute;
    top: 11px;
    left: 10px;
    z-index: 3;
    font-size: 14px;
    font-family: $font;
    font-size: 1rem;
    transition: all .3s ease;
  }
  textarea {
    display: block;
    width: 100%;
    resize: none;
    height: 100px;
    background: #fff;
    outline: none;
    margin: 0;
    padding: 10px;
    border: 1px solid #ccc;

    &:focus + label {
      top: -20px;
      left: 0;
    }
  }
}

.FormFieldHolder {
  position: relative;
  margin: 25px auto;

  .Button {
    display: block;
    margin: 10px auto;
  }
}
